.hero-header {
  background-color: #495e57;
  padding: 16px;
}

h1,
h2 {
  line-height: 0.7;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.hero-text-title-group {
  display: flex;
  flex-direction: column;
}

.hero-text-title {
  font-size: 64px;
  font-weight: 500;
  color: #f4ce14;
  box-sizing: border-box;
}

.hero-text-subtitle {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  color: #efefed;
}

.hero-text-description {
  font-size: 18px;
  color: white;
  font-weight: 500;
  max-width: 500px;
}

.hero-text-cta {
  background-color: #f4ce14;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  max-width: 148px;
}

.hero-header a {
  text-decoration: none;
  color: #495e57;
  font-weight: 700;
}
