.pills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 16px 16px 16px;
}

.pill {
  color: red;
  padding: 10px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 800;
  color: #495e57;
  background-color: #edefee;
}
